<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Home Page</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <button (click) = 'clickButton()'>Click this button</button>
  <button (click) = 'goToFirstPage()'>Go to First Page</button>
</ion-content>
